---

---

<section class="mt-16 md:mt-0 lg:max-w-7xl md:max-w-5xl mx-auto ">
    <div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16">
      <div class="flex gap-4 items-start">
        <div class="mt-1 bg-black rounded-full p-2 w-8 h-8 shrink-0">
          <svg
            width="1em"
            height="1em"
            viewBox="0 0 24 24"
            class="text-white"
            data-icon="bx:bxl-github"
          >
            <symbol id="ai:bx:bxl-github"
              ><path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M12.026 2c-5.509 0-9.974 4.465-9.974 9.974c0 4.406 2.857 8.145 6.821 9.465c.499.09.679-.217.679-.481c0-.237-.008-.865-.011-1.696c-2.775.602-3.361-1.338-3.361-1.338c-.452-1.152-1.107-1.459-1.107-1.459c-.905-.619.069-.605.069-.605c1.002.07 1.527 1.028 1.527 1.028c.89 1.524 2.336 1.084 2.902.829c.091-.645.351-1.085.635-1.334c-2.214-.251-4.542-1.107-4.542-4.93c0-1.087.389-1.979 1.024-2.675c-.101-.253-.446-1.268.099-2.64c0 0 .837-.269 2.742 1.021a9.582 9.582 0 0 1 2.496-.336a9.554 9.554 0 0 1 2.496.336c1.906-1.291 2.742-1.021 2.742-1.021c.545 1.372.203 2.387.099 2.64c.64.696 1.024 1.587 1.024 2.675c0 3.833-2.33 4.675-4.552 4.922c.355.308.675.916.675 1.846c0 1.334-.012 2.41-.012 2.737c0 .267.178.577.687.479C19.146 20.115 22 16.379 22 11.974C22 6.465 17.535 2 12.026 2z"
                fill="currentColor"></path></symbol
            ><use xlink:href="#ai:bx:bxl-github"></use>
          </svg>
        </div>
        <div>
          <h3 class="font-semibold text-lg">Todo en un Repositorio</h3>
          <p class="text-slate-500 mt-2 leading-relaxed">
            Obten todas la integraciones ya hechas en un repositorio de GitHub,
            clonalo y comienza a trabajar.
          </p>
        </div>
      </div><div class="flex gap-4 items-start">
        <div class="mt-1 bg-black rounded-full p-2 w-8 h-8 shrink-0">
          <svg
            width="1em"
            height="1em"
            viewBox="0 0 24 24"
            class="text-white"
            data-icon="bx:bxs-hourglass"
          >
            <symbol id="ai:bx:bxs-hourglass"
              ><path
                d="M19 22h1v-2h-1v-1a7.014 7.014 0 0 0-3.433-6.02c-.355-.21-.567-.547-.567-.901v-.158c0-.354.212-.691.566-.9A7.016 7.016 0 0 0 19 5V4h1V2H4v2h1v1a7.016 7.016 0 0 0 3.434 6.021c.354.209.566.545.566.9v.158c0 .354-.212.691-.566.9A7.016 7.016 0 0 0 5 19v1H4v2h15zM17 4v1a5.005 5.005 0 0 1-1.004 3H8.004A5.005 5.005 0 0 1 7 5V4h10zM9.45 14.702c.971-.574 1.55-1.554 1.55-2.623V12h2v.079c0 1.068.579 2.049 1.551 2.623A4.98 4.98 0 0 1 16.573 17H7.427a4.977 4.977 0 0 1 2.023-2.298z"
                fill="currentColor"></path></symbol
            ><use xlink:href="#ai:bx:bxs-hourglass"></use>
          </svg>
        </div>
        <div>
          <h3 class="font-semibold text-lg">Ahorra tiempo</h3>
          <p class="text-slate-500 mt-2 leading-relaxed">
            Ahorra tiempo en la configuraci칩n con otras aplicaciones y enfocate en
            lo que realmente importa.
          </p>
        </div>
        
    
        
      </div><div class="flex gap-4 items-start">
        <div class="mt-1 bg-black rounded-full p-2 w-8 h-8 shrink-0">
          <svg
            width="1em"
            height="1em"
            viewBox="0 0 24 24"
            class="text-white"
            data-icon="bx:bxs-file-find"
          >
            <symbol id="ai:bx:bxs-file-find"
              ><path
                d="M6 22h12c.178 0 .348-.03.512-.074l-3.759-3.759A4.966 4.966 0 0 1 12 19c-2.757 0-5-2.243-5-5s2.243-5 5-5s5 2.243 5 5a4.964 4.964 0 0 1-.833 2.753l3.759 3.759c.044-.164.074-.334.074-.512V8l-6-6H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2z"
                fill="currentColor"></path><circle
                cx="12"
                cy="14"
                r="3"
                fill="currentColor"></circle></symbol
            ><use xlink:href="#ai:bx:bxs-file-find"></use>
          </svg>
        </div>
        <div>
          <h3 class="font-semibold text-lg">Documentaci칩n</h3>
          <p class="text-slate-500 mt-2 leading-relaxed">
            La documentaci칩n est치 disponible en el repositorio de GitHub, para que
            puedas consultarla en cualquier momento.
          </p>
        </div>
      </div>
    </div>
  </section>
  