---

---

<footer class="my-20 pb-8"> <p class="text-center text-sm text-slate-500">
    Copyright Â© 2025 FactusZen. All rights reserved.
    </p> <!--
        Can we ask you a favor ðŸ™
        Please keep this backlink on your website if possible.
        or Purchase a commercial license from https://web3templates.com
      --> <p class="text-center text-xs text-slate-500 mt-1">
    Hecho por <a href="/" target="_blank" rel="noopener" class="hover:underline">
    FactusZen
    </a> </p> </footer>